<ion-header [translucent]="true">
  <ion-toolbar>
    <img src='../../assets/logo.png' alt="Modatta" width="150px" />
  </ion-toolbar>
</ion-header>

<ion-header collapse="condense">
  <ion-toolbar>
    <img src='../../assets/logo.png' alt="Modatta" width="150px" />
  
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- 
  <ion-button (click)="presentAlert()">Validar</ion-button> -->
  <div class="container">
    <div class="offer-detail"> Detalhe da oferta</div>
    <div class="company">
    <div class=" item item-a"> <span class="company-name">A empresa</span> </div>
   
    <div class="brand">
      <div class=" item item-b">
        <img src="../../assets/Adidas_Logo.svg" alt="companyLogo" class="companyLogo" width="150px" height="50Spx">
      </div>
      <div class="brand-detail">
      <div class=" item item-c">
        <a class="top-link" href="https://www.w3schools.com">Website</a>
      </div>
      <div class=" item item-c">
        <a class="bottom-link" href="https://www.w3schools.com">Política de Privacidade</a>
      </div>
    </div>
  </div>
    <div class=" item item-d">
      <ion-button expand="full" (click)="scanQrCode()">SCAN QR CODE </ion-button>
    </div>
  </div>
  </div>
</ion-content>