.container {
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.offer-detail {
  font-weight: 700;
  width: 100%;
  color: #fff;
  padding: 10px;
  background: #09d0b3;
}

.company {
  padding: 10px 0;
}

.company-name {
  display: inline-block;
  /* float:left;  remove */
  margin: 10px 10px 10px 0;
  padding: 5px 10px;
  color: gray;
}

.item {
  text-align: center;
}
.brand {
  margin: auto;
  width: 50%;
  margin: 0 auto;
  display: flex;
}

.item-d {
  float: right;
}
.item-b {
  float: left;
  padding: 10px;
}

.brand-detail {
  float: right;
  font-weight: 500;
}

a,
a:hover,
a:focus,
a:active {
  color: inherit;
  color: #09d0b3;
}

.button-green {
  background: #09d0b3;
  font-weight: 700;
  display: block;
  color: #fff;
  width: 100%;
  margin: 25px 0;
}

.item-a {
  padding: 10px 0;
  font-weight: 700;
}

.item-c {
  text-align: left;
  margin: 5px 0;
}
.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.horizontally-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.bottom-link {
  margin-top: 10px;
  font-size: small;
}
.top-link {
  font-size: small;
}
